@import "fonts.css";
@import "variables.css";
@import "shared.css";
@import "home.css";
@import "post.css";
@import "streaming.css";
@import "history.css";
@import "archive.css";

body, div {
  margin: 0;
  padding: 0;
}

body, div, h1, h2, h3, h4, h5, p {
  font-weight: normal;
  color: var(--text-color);
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  background: var(--gray-lightest);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
  overflow-x: hidden;
  padding: 20px;
}
